/* font-family: Arial, Helvetica, sans-serif; */
/* font-family: "Poppins", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DM+Serif+Text&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
}

html {
    width: 100%;
    height: 100%;
}

body {
    /* position: relative; */
    /* background-color: #24252A; */
    background-color: #d6cbb6;
    min-height: 200vh;
    /* width: 100%;
        height: 100%; */
}

/* ---------------- NAVIGATION BAR ---------------- */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* font-family: 'Montserrat', sans-serif; */
    /* background-color: #32343b; */

    /* justify-content: space-around; */
    /* justify-content: flex-end; */

    transition: 0.6s;
    padding: 40px 100px;

    z-index: 100000;
}

nav .logo {
    font-weight: bold;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;

    margin-right: auto;
    position: relative;
    transition: 0.6s;
    /* text-shadow: 1px 1px 1px black; */
}

nav a.logo:hover {
    color: rgb(203, 196, 196);
}

nav .nav-links {
    position: relative;
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    list-style: none;
    width: 25%;
}

nav .nav-links a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

    position: relative;
    padding: 0px 16px;
    transition: all 0.3s ease 0s;
}

.nav-links a:hover {
    color: rgb(203, 196, 196);
}

.button {
    font-size: 16px;
    font-weight: 500;
    /* background-color: rgba(0, 136, 169, 1); */
    background-color: #c4c98e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;

    padding: 6px 14px;
    transition: all 0.3s ease 0s;
    position: relative;
}

.blob {
    font-size: 16px;
    font-weight: 500;
    /* background-color: rgba(0, 136, 169, 1); */
    background-color: #c4c98e;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;

    padding: 6px 14px;
    transition: all 0.3s ease 0s;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#contact:hover {
    color: rgb(225, 225, 225);
    background-color: rgba(6, 82, 101, 0.8);
    box-shadow: 2px 2px 8px rgb(132, 131, 131);
}

/* ----- sticky effect ----- */
.sticky ul li a,
.sticky .logo {
    color: black;
}

nav.sticky {
    height: 0;
    /* padding: 0px, 0px; */
    /* padding: 0; */
    padding: 24px 7%;
    background: #dbddc3;
    /* background: #24252A; */
}

/* ---------------- BACKGROUND IMAGE/TEXT ---------------- */
.banner {
    /* color: white; */
    /* position: relative; */
    /* position: fixed; */
    width: 100%;
    height: 100vh;
    background: url(cooking.jpeg);
    background-size: cover;
    /* z-index: -10; */
    /* background-color: transparent; */
    background-attachment: fixed;
}

.banner-letter {
    /* color: white; */
    font-size: large;
    font-weight: 300;
    /* top: 380px; */
    top: 30%;
    position: relative;
    /* position: fixed; */
    text-align: center;
    /* vertical-align: middle; */
    text-shadow: 1px 1px 1px black;
}

.banner-letter p {
    /* color: white; */
    font-size: large;
    font-weight: 300;
    /* top: 380px; */
    top: 30%;
    position: relative;
    /* position: fixed; */
    text-align: center;
    /* vertical-align: middle; */
    text-shadow: 1px 1px 1px black;
    color: white;
    /* font-weight: bold; */
    font-family: 'DM Serif Text', sans-serif;
    line-height: 35px;
}

.banner-letter #name {
    color: white;
    font-family: 'DM Serif Display', sans-serif;
    font-size: 128px;
    font-weight: 2000;
    /* color: black; */
    letter-spacing: 5px;
}

.banner-letter #school {
    color: white;
    letter-spacing: 1px;
}

input {
    width: 35%;
    /* height: 200%; */
    padding: 10px 10px;
    border: 1px solid darkgrey;
    border-radius: 50px;
}

input:focus {
    border: 3px solid rgb(115, 112, 112);
}

.anarticle {
    padding: 10px;
    /* border: 3px; */
    /* border-style: solid; */
    /* border-color: rgb(115, 112, 112); */
    /* border-radius: 10px; */
    margin: 50px;
    border-bottom: 4px solid grey;
    /* border-bottom-style: dotted;
    border-bottom: thick green; */
}

h2 {
    text-align: center;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 25px;
    font-weight: 2000;
    font-family: 'DM Serif Display', sans-serif;
}

#lnk {
    font-weight: bold;
    font-size: 26px;
    /* color: white; */
    color: black;
    letter-spacing: 1px;
    text-decoration: none;

    margin-right: auto;
    position: relative;
    transition: 0.6s;
}

img {
    height: auto;
    width: 20%;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    margin-right: 100px;
    margin-top: 20px;
    /* margin-right: 10px; */
}

html {
    scroll-behavior: smooth;
}

p {
    font-weight: bold;
    font-size: 16px;
    /* color: white; */
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    line-height: 25px;

    margin-right: 50px;
    position: relative;
    transition: 0.6s;
    text-align: left;
    font-family: 'DM Serif Text', sans-serif;



    /* text-align: center; */
}